<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>JSPBook</display-name>
  <context-param>
    <description>오라클 db url경로</description>
    <param-name>url</param-name>
    <param-value>jdbc:oracle:thin:@127.0.0.1:1521/xe</param-value>
  </context-param>
  <context-param>
    <param-name>javax.servelet.jsp.jstl.fmt.timeZone</param-name>
	<param-value>HongKong</param-value>
  </context-param>
  <security-role>
  	<role-name>role1</role-name>
  </security-role>
  <security-constraint>
  	<web-resource-collection>
  		<web-resource-name>JSPBOOK</web-resource-name>
  		<url-pattern>/ch10/security02.jsp</url-pattern>
  		<http-method>GET</http-method>
  	</web-resource-collection>
  	<auth-constraint>
  		<description></description>
  		<role-name>role1</role-name>
  	</auth-constraint>
  </security-constraint>
  <login-config>
  	<auth-method>FORM</auth-method>
  	<form-login-config>
  		<form-login-page>/ch10/login.jsp</form-login-page>
  		<form-error-page>/ch10/login_failed.jsp</form-error-page>
  	</form-login-config>
  </login-config>
  
    <filter>
		<filter-name>Filter01</filter-name>
		<filter-class>ch12.com.filter.AuthenFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>Filter01</filter-name>
		<url-pattern>/ch12/filter01_process.jsp</url-pattern>
	</filter-mapping>
</web-app>